@model GLS_BlazorMVC_PoC.Models.Password

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Password</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncryptedPassword)
        </dt>
        <dd class = "col-sm-10">
            @{var RealPass = GLS_BlazorMVC_PoC.Helpers.Encryptor.Decrypt(Model.EncryptedPassword);}
            @Html.DisplayFor(model => RealPass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
