@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Hello, GoodLawSoftware Company!</h1>

    <p>Welcome to your new Password Management app!</p>
    <p>Just making sure you know what is going on, so as a reminder, in my application, We are trying to make seperate passwords stored
        per each user that has an account on my app. By this means we are not making it limited to usage by one user, but it can be used by many.
    </p>
    <p>
        To get started from your side, I hope you have done the migrations needed to run the app and connected a database inside SQL Server successfully,
        Now you can go ahead and create an account (later will be used in logging in) so that you can start storing your passwords.
    </p>
    <p>
        You will notice that the passwords shown to you is encrypted in the main page, however to see real password you will have to verify
        your self once again and then go to a more securely rendered page (password is shown by hovering) and then you can see it!
    </p>
    <p>
        You got crud operations on your passwords, and you cannot edit others ;)
    </p>
</div>
